body{
    margin:0;
    background:#060B12;
    color:white;
    font-family:'Inter',sans-serif;
}

.dashboard{
    display:flex;
    height:100vh;
}

.sidebar{
    width:250px;
    background:#0E1723;
    padding:20px;
}

.logo h1{
    color:#00E5FF;
    font-size:48px;
}

.nav-item{
    padding:16px;
    margin-bottom:10px;
    border-radius:14px;
    background:rgba(255,255,255,.03);
}

.main{
    flex:1;
    padding:20px;
}

.topbar{
    display:flex;
    justify-content:space-between;
    margin-bottom:20px;
}

.top-right{
    display:flex;
    gap:15px;
}

.status-card{
    background:#111D2D;
    padding:16px;
    border-radius:18px;
    min-width:160px;
}

.kpi-grid{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:16px;
    margin-bottom:20px;
}

.kpi{
    background:#111D2D;
    padding:24px;
    border-radius:20px;
}

.kpi-value{
    font-size:52px;
    font-weight:800;
}

.content-grid{
    display:grid;
    grid-template-columns:2fr 1fr 1fr;
    gap:20px;
}

.card{
    background:#111D2D;
    padding:24px;
    border-radius:20px;
}

.chart{
    height:350px;
}

.alert{
    padding:18px;
    border-radius:16px;
    margin-bottom:14px;
}

.red-alert{
    background:rgba(255,77,109,.1);
}

.orange-alert{
    background:rgba(255,176,32,.1);
}